.agora .chat {
  --remote-bgcolor: rgba(0, 0, 0, 0.06);
  --local-bgcolor: #42a5f5;

  width: 100%;
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  /* font-smoothing: antialiased; */
  -webkit-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.agora .fabs {
  width: 100%;
  margin: 0;
}

.agora-audience .fabs > .fab {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 10px 5px 0;
  font-size: 32px;
  text-shadow: 2px 2px 4px #000;
}

.agora .chat_header {
  font-size: 14px;
  font-weight: 600;
  color: #f4f4f4;
  padding: 8px 12px;
  background: #a3a3a3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.agora .chat_header .right {
  float: right;
  cursor: pointer;
}

.agora .chat_fullscreen_loader {
  display: none;
  float: right;
  cursor: pointer;
  /* margin: 10px; */
  font-size: 20px;
  opacity: 0.5;
  padding: 20px;
  margin: -10px 10px;
}

.agora .chat.is-visible {
  display: block;
  opacity: 1;
  -webkit-animation: chatZoomIn 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  animation: chatZoomIn 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}
.agora .is-hide {
  opacity: 0;
}

.agora .chat_color {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
  float: left;
}

.agora #chat-alert {
  position: absolute;
  top: -3px;
  right: -2px;
  font-size: 12px;
  color: white;
  transform: rotate(24deg);
  box-shadow: 0px 2px 4px #585858;
  background: #da4964;
  padding: 4px;
  border-radius: 50%;
  transition: opacity ease 1s;
}
.agora.agora-audience #chat-alert {
  text-shadow: none;
  box-shadow: 0px 0px 3px #585858;
}

.agora .chat_body {
  background: #fff;
  width: 100%;

  display: inline-block;
  text-align: center;
  overflow-y: auto;
}
.agora #chat_body {
  height: 450px;
}
.agora .chat_body li,
.agora .chat_body p,
.agora .chat_body a {
  -webkit-animation: chatZoomIn 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  animation: chatZoomIn 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}
.agora .chat_body p {
  padding: 20px;
  color: #888;
}
.agora .chat_body a {
  width: 10%;
  text-align: center;
  border: none;
  box-shadow: none;
  line-height: 40px;
  font-size: 15px;
}

.agora .chat_field {
  position: relative;
  padding: 5px;
  margin: 10px 0 0 5px;
  min-width: 50%;
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
  color: #4b4b4b;
  -webkit-font-smoothing: antialiased;
  /* font-smoothing: antialiased; */
  border: none;
  outline: none;
  display: inline-block;
}

.agora .fab_field.non-user {
  /* display: block;
  justify-content: center;
  padding: 120px 15px; */
  display: flex;
  padding: 0 15px;
  height: 250px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.agora .fab_field.non-user label {
  width: 100%;
}
.agora .fab_field.non-user .error {
  color: #d94964;
}
.agora .fab_field.non-user .btnIcon {
  font-size: 13px;
  margin-top: 10px;
  max-width: none;
}
.agora .fab_field.non-user .chat_enter_name {
  font-size: 14px;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.085);
}

.agora .chat-msg-line {
  display: flex;
  flex-wrap: wrap;
}
.agora .chat-msg-line label {
  flex: 100%;
  margin-left: 11px;
  color: #aaaaaa;
}
.agora .chat-msg-line.local label {
  text-align: right;
  margin-right: 20px;
}
.agora .chat-msg-line label time {
  color: #bbc1d0;
  font-size: 95%;
}
.agora .chat-msg-line:first-child {
  margin-top: 15px;
}
.agora .chat-msg-line.local {
  justify-content: flex-end;
}
.agora .chat-msg-line.chat-notify {
  text-align: center;
  display: block;
  color: #a2a2a2;
  font-weight: 600;
}

.agora .chat_field.chat_message {
  height: fit-content;
  resize: none;
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  min-height: 30px;
  width: 80%;
}
.agora .chat_category {
  text-align: left;
}

.agora .chat_category {
  margin: 20px;
  background: var(--remote-bgcolor);
  padding: 10px;
}

.agora .chat_category ul li {
  width: 80%;
  height: 30px;
  background: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  font-size: 13px;
  cursor: pointer;
  line-height: 30px;
  color: #888;
  text-align: center;
}

.agora .chat_category li:hover {
  background: #83c76d;
  color: #fff;
}
.agora .chat_category li.active {
  background: #83c76d;
  color: #fff;
}

.agora .tags {
  margin: 20px;
  bottom: 0px;
  display: block;
  width: 120%;
}
.agora .tags li {
  padding: 5px 10px;
  border-radius: 40px;
  border: 1px solid rgb(3, 117, 208);
  margin: 5px;
  display: inline-block;
  color: rgb(3, 117, 208);
  cursor: pointer;
}
.agora .fab_field {
  width: 100%;
  display: inline-block;
  text-align: center;
  background: #fff;
  border-top: 1px solid #eee;
}

.agora .fab_field2 {
  bottom: 0px;
  position: absolute;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  z-index: 999;
}

.agora .fab_field a {
  display: inline-block;
  text-align: center;
}

/* #fab_camera {
  float: left;
  background: rgba(0, 0, 0, 0);
} */

.agora #fab_send {
  float: right;
  background: rgba(0, 0, 0, 0);
}

.agora .fab_field .fab {
  width: 35px;
  height: 35px;
  box-shadow: none;
  margin: 5px;
}

.agora .fab_field .fab > i {
  font-size: 1.6em;
  line-height: 35px;
  color: #bbb;
}
.agora .fab_field .fab > i:hover {
  color: var(--local-bgcolor);
}

.agora .chat_converse {
  position: relative;
  background: #fff;
  margin: 0;
  /* height: 300px; */
  height: 200px;
  min-height: 0;
  font-size: 12px;
  line-height: 18px;
  overflow-y: auto;
  width: 100%;
  padding-bottom: 5px;
}

.agora .chat_list {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.agora .chat_list .chat_list_item {
  opacity: 0;
  visibility: hidden;
}

.agora .chat .chat_converse .chat_msg_item {
  position: relative;
  margin: 0 0 15px 0;
  padding: 8px 10px;
  max-width: 60%;
  display: block;
  word-wrap: break-word;
  border-radius: 3px;
  -webkit-animation: chatZoomIn 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  animation: chatZoomIn 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  clear: both;
  z-index: 999;
}
.agora .status {
  margin: 45px -50px 0 0;
  float: right;
  font-size: 11px;
  opacity: 0.3;
}
.agora .status2 {
  margin: -10px 20px 0 0;
  float: right;
  display: block;
  font-size: 11px;
  opacity: 0.3;
}
.agora .chat .chat_converse .chat_msg_item .chat_avatar {
  position: absolute;
  top: 0;
}

.agora
  .chat
  .chat_converse
  .chat_msg_item.chat_msg_item_remote_user
  .chat_avatar {
  left: -48px;
  background: var(--remote-bgcolor);
}

.agora
  .chat
  .chat_converse
  .chat_msg_item.chat_msg_item_local_user
  .chat_avatar {
  right: -52px;
  background: rgba(0, 0, 0, 0.6);
}

.agora .chat .chat_converse .chat_msg_item .chat_avatar,
.chat_avatar img {
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
}

.agora .chat .chat_converse .chat_msg_item.chat_msg_item_remote_user {
  margin-left: 56px;
  background: var(--remote-bgcolor);
  color: #666;
}

.agora .chat .chat_converse .chat_msg_item.chat_msg_item_local_user {
  margin-right: 20px;
  float: right;
  background: var(--local-bgcolor);
  color: #eceff1;
}

.agora .chat .chat_converse .chat_msg_item.chat_msg_item_remote_user:before {
  content: "";
  position: absolute;
  top: 15px;
  left: -12px;
  z-index: 998;
  border: 6px solid transparent;
  border-right-color: var(--remote-bgcolor);
}

.agora .chat_form .get-notified label {
  color: #077ad6;
  font-weight: 600;
  font-size: 11px;
}

.agora .chat input {
  position: relative;
  width: 90%;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #4b4b4b;
  -webkit-font-smoothing: antialiased;
  /* font-smoothing: antialiased; */
  outline: none;
  background: #fff;
  display: inline-block;
  resize: none;
  padding: 5px;
  border-radius: 3px;
}
.agora .chat_form .get-notified input {
  margin: 2px 0 0 0;
  border: 1px solid #83c76d;
}
.agora .chat_form .get-notified i {
  background: #83c76d;
  width: 30px;
  height: 32px;
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  margin: 2px 0 0 -30px;
  position: absolute;
  border-radius: 3px;
}
.agora .chat_form .message_form {
  margin: 10px 0 0 0;
}
.agora .chat_form .message_form input {
  margin: 5px 0 5px 0;
  border: 1px solid #e0e0e0;
}
.agora .chat_form .message_form textarea {
  margin: 5px 0 5px 0;
  border: 1px solid #e0e0e0;
  position: relative;
  width: 90%;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #4b4b4b;
  -webkit-font-smoothing: antialiased;
  /* font-smoothing: antialiased; */
  outline: none;
  background: #fff;
  display: inline-block;
  resize: none;
  padding: 5px;
  border-radius: 3px;
}
.agora .chat_form .message_form button {
  margin: 5px 0 5px 0;
  border: 1px solid #e0e0e0;
  position: relative;
  width: 95%;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  /* font-smoothing: antialiased; */
  outline: none;
  background: #fff;
  display: inline-block;
  resize: none;
  padding: 5px;
  border-radius: 3px;
  background: #83c76d;
  cursor: pointer;
}
.agora strong.chat_time {
  padding: 0 1px 1px 0;
  font-weight: 500;
  font-size: 8px;
  display: block;
}

/*Chatbox scrollbar*/

.agora ::-webkit-scrollbar {
  width: 6px;
}

.agora ::-webkit-scrollbar-track {
  border-radius: 0;
}

.agora ::-webkit-scrollbar-thumb {
  margin: 2px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
/*Element state*/

.agora .is-active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.agora .is-float {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}

.agora .is-loading {
  display: block;
  -webkit-animation: loadChat 1s cubic-bezier(0, 0.99, 1, 0.6) infinite;
  animation: loadChat 1s cubic-bezier(0, 0.99, 1, 0.6) infinite;
}
/*Animation*/

@-webkit-keyframes chatZoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes chatZoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes loadChat {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes loadChat {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/* SMARTPHONES PORTRAIT */
/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
  .agora .fabs {
    /* width: auto; 
    margin: 1em;*/
  }
  .agora .chat {
    width: 300px;
    right: -2px;
  }
}
/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
  .agora .chat {
    width: 300px;
  }
}
/* TABLET LANDSCAPE / DESKTOP */

@media only screen and (min-width: 1024px) {
  .chat {
    width: 300px;
  }
}
/*Color Options*/

/* chatRipple */

.agora .ink {
  display: block;
  position: absolute;
  background: rgba(38, 50, 56, 0.4);
  border-radius: 100%;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  /* webkit-transform: scale(0); */
  -webkit-transform: scale(0);
  transform: scale(0);
}
/*animation effect*/

.agora .ink.animate {
  -webkit-animation: chatRipple 0.5s ease-in-out;
  animation: chatRipple 0.5s ease-in-out;
}

@-webkit-keyframes chatRipple {
  /*scale the element to 250% to safely cover the entire link and fade it out*/

  100% {
    opacity: 0;
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    webkit-transform: scale(5);
    -webkit-transform: scale(5);
    transform: scale(5);
  }
}

@keyframes chatRipple {
  /*scale the element to 250% to safely cover the entire link and fade it out*/

  100% {
    opacity: 0;
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    webkit-transform: scale(5);
    -webkit-transform: scale(5);
    transform: scale(5);
  }
}
.agora .chat ::-webkit-input-placeholder {
  /* Chrome */
  color: #bbb;
}
.agora .chat :-ms-input-placeholder {
  /* IE 10+ */
  color: #bbb;
}
.agora .chat ::-moz-placeholder {
  /* Firefox 19+ */
  color: #bbb;
}
.agora .chat :-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #bbb;
}
/* chat position right */
.fabs.fabs-chat-right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  margin: 0;
  /* height: 100%; */
  position: absolute;
  left: auto;
  width: auto;
}

/* chat position left */
.fabs.fabs-chat-left {
  right: auto;
  left: 0 !important;
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  margin: 0;
  /* height: 100%; */
  position: absolute;
  left: auto;
  width: auto;
}

/*.agora-fullscreen .fabs.fabs-chat-left, .agora-fullscreen .fabs.fabs-chat-right{
  top: auto;
  transform: translateY(-150%);
}*/

/* chat position bottom */
.fabs.fabs-chat-bottom {
  width: auto;
}

/* chat position for audience */
.chat_position {
  position: absolute;
  bottom: 0px;
  right: 0px;
  /* background: rgba(0, 0, 0, 0.5); */
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chatToggleBtn{
  z-index: 2;
}
