*,
::after,
::before {
  box-sizing: border-box;
}

.agora {
  --agora-background: #343338;
  --red-bg-color: #d94964;

  font-size: 14px;
  position: relative;
  line-height: 16px;
  /*  font-family: Arial;*/
  background-color: var(--agora-background);
  z-index: 10;
}

.agora .text-danger {
  color: #dc3545 !important;
}

/* .agora-container.no-footer {  
  grid-template-rows: 6% 94%;
} */
.agora .error-container {
  margin: 5px 0 20px;
  display: none;
}
.agora .error-container span {
  opacity: 0;
  transition: opacity ease 0.5s;
}

/*  total 100vh - 32px of wp admin bar */
.admin-bar .agora-fullscreen .agora-container {
  height: calc(100vh - 32px);
}

.agora-container button {
  font-weight: 500;
  text-transform: none;
  cursor: pointer;
}

.agora-header {
  background: #6c757e;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 7px;
}
.agora-header .fas {
  cursor: pointer;
  color: #dfdfdf;
}
.agora-header .fas:hover {
  color: #ffffff;
  transform: scale(1.2);
}

.agora-container {
  background-color: var(--agora-background);
  padding: 0;
  overflow: visible;
}
.agora-fullscreen .agora-content {
  display: grid;
  grid-template-rows: 8vh 92vh;
}
.agora-fullscreen-template.agora-fullscreen-template-users-bottom .agora-content, 
.agora-default-template.agora-default-template-screen-users-bottom.agora-fullscreen .agora-content, 
.agora-communication.agora-default-template.agora-default-template-screen-users-top.agora-fullscreen .agora-content {
  grid-template-rows: 8vh 74vh;
}
.agora-content .buttons-top {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.agora-broadcast.agora-default-template.agora-fullscreen .fabs.fabs-chat-left, 
.agora-broadcast.agora-default-template.agora-fullscreen .fabs.fabs-chat-right, 
.agora-fullscreen.agora-boardcast-fullscreen .fabs.fabs-chat-right, 
.agora-fullscreen.agora-boardcast-fullscreen .fabs.fabs-chat-left {
    top: auto;
    bottom: 50%;
}
/*.agora-communication.agora-default-template .agora-container .fabs.fabs-chat-left{
    bottom: auto;
    top: 50%;
}
.agora-default-template.agora-fullscreen .fabs.fabs-chat-right {
  bottom: 50%;
  top: auto;
  transform: translateY(-70%);
}
.agora-fullscreen.agora-fullscreen-template .fabs.fabs-chat-right, 
.agora-broadcast.agora-default-template.agora-fullscreen .fabs.fabs-chat-left {
    top: auto;
    bottom: 45%;
    transform: translateY(-45%);
}*/
/*.agora-fullscreen .fabs.fabs-chat-right {
  bottom: 45%;
  top: auto;
  transform: translateY(-45%);
}*/

.agora-fullscreen-template.agora-fullscreen-template-users-bottom .agora-content .agora-screen-users-bottom .screen-users,
.agora-default-template.agora-default-template-screen-users-bottom.agora-fullscreen .agora-screen-users-bottom .screen-users {
  overflow: visible !important;
}
.agora-fullscreen-template.agora-fullscreen-template-users-bottom .agora-content #local-video, 
.agora-fullscreen-template.agora-fullscreen-template-users-top #local-video,
.agora-fullscreen-template.agora-fullscreen-template-users-left .screenshare-container,
.agora-fullscreen-template.agora-fullscreen-template-users-right .screenshare-container, 
.agora-communication.agora-default-template.agora-default-template-screen-users-top.agora-fullscreen #local-video {
  max-height: 100%;
}
.agora-fullscreen-template .agora-screen-users-top .screenshare-container {
    max-height: 68%;
}

.agora-fullscreen-template.agora-fullscreen-template-users-left
.agora .buttons-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
}
.agora .left-button {
  display: inherit;
  align-items: center;
}
.agora .right-buttons {
  display: inherit;
  align-items: center;
}
.agora .room-title {
  color: #6c757e;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  padding: 0.5em 1em;
  background-color: #d7d7d7;
  margin: 0;
}
.agora .room-title .fas {
  color: #646161;
}
.agora .leave-meeting {
  color: white;
  border: 1px solid var(--red-bg-color);
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-left: 1em;
}
.agora .btn-danger,
.agora .btnIcon.btn-danger {
  background-color: var(--red-bg-color);
}
.agora .btn-danger:hover,
.agora .btnIcon.btn-danger:hover {
  background-color: #e63153;
}

.agora .icon-cog {
  font-size: 28px;
  color: #6c757e;
  cursor: pointer;
}
.agora .icon-enlarge {
  font-size: 20px;
  color: #efefef;
  margin: 0.2em 1em;
  cursor: pointer;
}

.agora .remote-video {
  z-index: 1;
  height: 100%;
  width: 100%;
}
.agora .mute-overlay {
  position: absolute;
  z-index: 2;
  bottom: 28px;
  left: calc(50% - 14px);
  font-size: 1.5em;
  padding: 2px 0 0 2px;
  display: none;
}
.agora .no-video-overlay {
  position: absolute;
  z-index: 3;
  width: calc(100% - 0.4em);
  top: 40%;
  color: #cccccc;
  font-size: 2.5em;
  margin: 0 auto;
  display: none;
  text-align: center;
  max-height: 100%;
}
.agora .screen.sharescreen .no-video-overlay {
  font-size: 1.8em;
}
.agora .screen.sharescreen .mute-overlay {
  font-size: 1.2em;
  /*bottom: 8px;
  left: calc(50% - 10px);*/
  left: 0;
  bottom: 0;
  padding: 5px;
}

.agora .screen {
  height: 100%;
  padding: 0 15px;
  overflow: hidden;
}
.agora.agora-fullscreen .screen {
  align-items: center;
  /* padding: 0 15px;*/
}
.agora .screen-users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -10px;
  margin-right: -10px;
}
.agora .screen-users .user {
  position: relative;
  overflow: hidden;
  padding: 2px;
  background-color: #111;
}
.screen-users .user video {
  /* border-radius: 5px;
     object-fit: cover; */
}

.agora .screen.sharescreen {
  padding: 0;
}
.agora .screen.sharescreen .screen-users .user {
  width: calc(100px * 1.5);
  height: 100px;
}
.agora .screen.sharescreen .screen-users {
  overflow: hidden;
  margin: 0;
  flex-wrap: nowrap;
}

.agora .screen.sharescreen .screenshare-container {
  width: 100%;
   height: 58vh !important; 
  height: 100%;
  position: relative;
}

/* screen with 1 user */
.agora .screen-users-1 .user {
  width: 100%;
  height: 50vh;
}
.agora-fullscreen .screen-users-1 .user {
  height: 68vh;
}

.agora.agora-audience .screen-users-1 .user {
  height: 65vh;
  background-color: transparent;
  pointer-events: all;
}

/* screeen with 2 users */
.agora .screen-users-2 .user {
  width: 49.5%;
  height: 45vh;
}
.agora-fullscreen .sharescreen .screen-users-2 .user {
    width: calc(100px * 1.5) !important;
}
.agora-fullscreen .screen-users-2 .user {
  width: 50% !important;
  height: 69.5vh;
}

/* screen with 3-4 users */
.agora .screen-users-3 .user,
.agora .screen-users-4 .user {
  width: 50%;
  height: 30vh;
}
.agora-fullscreen .screen-users-3 .user,
.agora-fullscreen .screen-users-4 .user {
  height: 36vh;
}

/* screen with 5 y 6 users */
.agora .screen-users-5-6 .user {
  width: 33%;
  height: 25vh;
}
.agora-fullscreen .screen-users-5-6 .user {
  height: 37vh;
}

/* screen with 7 y 8 users */
.agora-fullscreen .sharescreen .screen-users-7-9 .user {
  width: calc(100px * 1.5) !important;
}
.agora .screen-users-7-9 .user {
  width: 33% !important;
  height: 20vh;
}
.agora-fullscreen .screen-users-7-9 .user {
  height: 25vh;
}

/* pantalla 10, 11 y 12*/
.agora-fullscreen .sharescreen .screen-users-10-12 .user{
  width: calc(100px * 1.5) !important;
}
.agora .screen-users-10-12 .user {
  width: 24.5% !important;
  height: 17vh;
}
.agora-fullscreen .screen-users-10-12 .user {
  height: 24vh;
}

.agora .modal,
.agora .hidden {
  display: none;
}

.agora-footer {
  background: var(--agora-background);
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 4;
  flex-direction: column;
  /* position: relative; */
  margin:0;
  padding:0;
  overflow: visible;
  position: static;
}
.agora-fullscreen .agora-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.agora .buttons-bottom {
  margin: 1em 0.5em;
  display: flex;
}
.agora .buttons-bottom .btn-group,
.agora .buttons-bottom > .btn-with-title {
  margin: 0 7px;
  text-align: center;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.agora .buttons-bottom .btn-group {
  grid-template-columns: 1fr 0.65fr;
}

/* override default styles of .show class in case other themes and plugins are doing it */
.agora .buttons-bottom .btn-group.show {
  display: grid !important;
}

.agora .btnIcon {
  background: #6c757e;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 12px;
  text-align: center;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  max-width: 40px;
  margin: 0 auto;
  position: static;
}
.agora .btnIcon:hover {
  background-color: #8795a3;
}
.agora .btnIcon:focus {
}
.agora .fas {
  color: #efefef;
}
.agora-audience button .fas {
  color: #0096e6;
}
.agora .btn-group {
  position: relative;
}
.agora .btn-group > .btn-group:not(:last-child) > .btnIcon,
.agora .btn-group > .btnIcon:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 6px;
}
.agora .btn-group > .btnIcon:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.agora .btn-group small.btn-title {
  grid-column: 1 / span 2;
}
.agora .buttons-bottom small {
  color: #808080;
}
.agora .btnIcon.dropdown-toggle {
  padding: 8px;
  float: right;
}
.agora .dropdown-toggle::after {
  display: inline-block;
  /* margin-left: .255em; */
  vertical-align: 0.255em;
  content: "";
  border-top: 0.22em solid;
  border-right: 0.22em solid transparent;
  border-bottom: 0;
  border-left: 0.22em solid transparent;
}

.agora .dropdown-menu.show {
  display: block;
}
.agora .dropdown-menu[x-placement^="bottom"],
.agora .dropdown-menu[x-placement^="left"],
.agora .dropdown-menu[x-placement^="right"],
.agora .dropdown-menu[x-placement^="top"] {
  right: auto;
  bottom: auto;
}
.agora .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 2px 2px 10px -2px #7e7e7e;
}
.agora .dropdown-item:first-child {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.agora .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1.5rem;
  clear: both;
  font-weight: 400;
  font-size: 16px;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.agora .btn-separator {
  display: inline-block;
  border-left: 1px solid #555;
  padding: 0;
  margin: 0 15px;
  height: 38px;
  vertical-align: bottom;
}

.agora .spinner-border {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}
@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

/*
 * Boostrap Modal Styles
 */
.agora .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.agora .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  overflow: hidden;
  outline: 0;
  height: 100%;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* padding-top: 68px;*/
}
.agora .fade:not(.show) {
  opacity: 0;
}
.agora .fade {
  transition: opacity 0.15s linear;
}
.agora .modal-dialog {
  position: absolute;
  width: 100%;
  /* width: auto; */
  margin: 0 auto;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.agora .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.agora .modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}

/*agora full screen*/
.agora.agora-communication.agora-fullscreen .speaker-view {
  height: calc(100vh - 180px) !important;
}
.agora.agora-communication.agora-fullscreen .speaker-view .main-screen {
  height: 100%;
}

@media (min-width: 576px) {
  .agora .modal-dialog {
    max-width: 500px;
    margin: 2.5rem auto 0;
  }
}
.agora .modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.agora .modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* padding: 0 1rem 0; */
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.agora .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  /* padding: 1rem 1rem 0.25rem; */
  padding: 1rem;
}
.agora .modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.agora .modal-footer > :not(:last-child) {
  margin-right: 0.25rem;
}
.agora .modal .btn {
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}
.agora .modal .btn.btn-primary {
  background-color: #6c757e;
  border: 1px solid #565b5f;
  border-radius: 3px;
}
.agora .modal .btn.btn-primary:hover {
  background-color: #878e96;
  border-color: #868c90;
}
.agora .close {
  float: right;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.agora .close:hover {
  color: #000;
  text-decoration: none;
  background: transparent;
}
.agora .close:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.agora .close:not(:disabled):not(.disabled):focus,
.agora .close:not(:disabled):not(.disabled):hover {
  opacity: 0.75;
}
.agora button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.agora .modal-header .close {
  padding: 0.5rem;
  margin: 0.05rem 0 0;
}
.agora .modal-title .fas {
  color: #8b8b8b;
}
.agora .modal-backdrop.show {
  opacity: 0.5;
}
.agora .modal-backdrop {
  display: none;
}
.agora .modal .img-permissions {
  margin: auto;
  display: block;
  min-height: 100px;
  max-height: 280px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 8px 0px #6c6c6c;
}

/*
 * Bootstrap Toast Notifications
 */
 .agora .toast {
  -ms-flex-preferred-size: 350px;
  flex-basis: 350px;
  max-width: 350px;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  border-radius: 0.25rem;
}

.agora .toast {
  position: absolute;
  top: 88px;
  left: 7px;
  z-index: 2;
}

.agora .toast:not(:last-child) {
  margin-bottom: 0.75rem;
}

.agora .toast.showing {
  opacity: 1;
}
.agora .toast.show {
  display: block;
  opacity: 1;
}
.agora .toast.hide {
  display: none;
}
.agora .toast-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.25rem 0.75rem;
  color: #6c757d;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.agora .toast-body {
  padding: 0.75rem;
}
.agora .mr-auto,
.agora .mx-auto {
  margin-right: auto !important;
}
.agora .ml-2,
.agora .mx-2 {
  margin-left: 0.5rem !important;
}
.agora .mb-1,
.agora .my-1 {
  margin-bottom: 0.25rem !important;
}

/*
 * Bootstrap Form Styles
 */
.agora .form-group {
  margin-bottom: 1rem;
}
.agora .form-control {
  display: block;
  width: 100%;
  height: calc(1.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*
 * Cloud Recording Controls
 */
.agora .start-rec .inner-icon {
  background-color: #fff;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  min-width: 16px;
  display: inline-block;
}

.agora .stop-rec .inner-icon {
  border-radius: 0;
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: inline-block;
}

.agora .load-rec .inner-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  border: 0.2em solid #da4964;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

/*
 * Audience Page styles
 */
.agora.agora-audience .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.agora.agora-audience .overlay button {
  display: block;
  color: #0096e6;
  background: #fff;
  padding: 12px 22px;
  transition: background ease 1s, border 1s ease;
}
.agora.agora-audience .overlay button:hover {
  background: #ededed;
  border-bottom-color: #999;
  border-right-color: #999;
  border-bottom-width: 2px;
  border-right-width: 2px;
  text-decoration: underline;
}

.agora.agora-audience .overlay img {
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.agora.agora-audience .overlay button i {
  padding: 0 10px;
}

.agora #watch-live-closed {
  margin: 100px auto;
  background-color: transparent;
}

/*
 * Communication Chat
 */
.agora .fabs {
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1031;
}

.agora .fabs.raise-hand-icon-fabs {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 10px;
  border-radius: 10px;
  right: unset;
  z-index: 99;
  width: auto;
}

.agora .fabs .fas {
  cursor: pointer;
}

.agora .fabs .chat {
  /* position: absolute;
  right: 0;
  bottom: 0; */
  display: none;
  opacity: 0;
}
.agora #chat-alert {
  position: absolute;
  opacity: 0;
}

.agora .only-mobile {
  display: none !important;
}

/*
 * Responsive Media Queries
 */
@media screen and (max-width: 1023px) {
  .agora .screen-users-10-12 .user {
    width: 22% !important;
  }
}
@media screen and (max-width: 768px) {
  .agora {
    font-size: 13px;
  }
  .agora .screen {
    padding: 5px 0;
  }
  .agora .btn-separator {
    display: none;
  }
  .agora.agora-communication .only-desktop {
    display: none !important;
  }
  .agora.agora-communication .only-mobile {
    display: block !important;
  }

  .agora .screen-users-2 .user {
    width: 46.5% !important;
  }
  .agora .screen-users-4 .user {
    width: 46% !important;
  }
  .agora .screen-users-10-12 .user {
    width: 32% !important;
  }
}
@media screen and (max-width: 480px) {
  .agora .buttons-botton {
    font-size: 25px;
  }
  .agora .screen-users {
    margin: 0;
  }
  .agora .screen-users .user {
    padding: 0.1em;
  }
  .agora .screen-users-1 .user {
    height: 70vh;
  }
  .agora .screen-users-3 .user,
  .agora .screen-users-4 .user {
    width: 50% !important;
    height: 32vh;
  }
  .agora .screen-users-3 .user:last-child {
    width: 100% !important;
  }
  .agora .screen-users-2 .user {
    width: 100% !important;
    height: 32vh;
  }
  .agora .screen-users-5-6 .user {
    height: 22vh;
  }
  .agora .screen-users-7-9 .user {
    width: 32% !important;
    height: 21vh;
  }

  .agora-fullscreen .agora-container {
    height: 100vh;
  }
  .agora.agora-fullscreen .screen {
    padding: 0 5px;
  }
  .agora-fullscreen .screen-users-1 .user {
    height: 78vh;
  }
  .agora-fullscreen .screen-users-2 .user {
    height: 40vh;
  }
  .agora-fullscreen .screen-users-3 .user,
  .agora-fullscreen .screen-users-4 .user {
    height: 38vh;
  }
  .agora-fullscreen .screen-users-5-6 .user {
    width: 50% !important;
    height: 26vh;
  }
  .agora-fullscreen .screen-users-7-9 .user {
    width: 33% !important;
    height: 26vh;
  }
  .agora-fullscreen .screen-users-10-12 .user {
    width: 25% !important;
    height: 26vh;
  }
}
@media screen and (max-width: 320px) {
  .agora .buttons-botton {
    font-size: 18px;
  }
}
@media screen and (max-height: 480px) {
  .agora .icon-cog {
    font-size: 16px;
  }
  .agora .buttons-botton {
    font-size: 18px;
  }
  .agora .icon-enlarge {
    font-size: 16px;
    margin-right: 1.5em;
  }
  .agora .buttons-botton {
    font-size: 20px;
  }
}

/*camera settings*/
.agora .action-buttons > button.click_to_join,
.agora #test_microphone_div > button {
  width: 100%;
  padding: 10px;
  font-size: 15px;
}

.agora .action-buttons {
  margin-top: 15px;
}
.agora #test-device-camera-list > select {
  width: 100%;
}
.agora .d-flex_align {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.agora .d-flex_align > span {
  padding-bottom: 5px;
  font-size: 16px;
}

.agora button#exit-btn {
  font-size: 16px;
}
/* Bigstep */

/* Active Speaker */
.agora .activeSpeaker {
  animation: myVoice 3s infinite;
  border: 1px solid red;
}
@keyframes myVoice {
  from {
    border-color: #fff;
  }
  to {
    border-color: #ff0000;
  }
}

/*Ghost Mode */
.agora #big-no-video-stream .no-video-overlay {
  position: absolute;
  z-index: 3;
  width: calc(100% - 0.4em);
  top: 40%;
  color: #cccccc;
  font-size: 2.5em;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.agora.agora-audience #big-no-video-stream {
  height: 65vh;
}

.agora #big-no-video-stream {
  height: 50vh;
}

/* End Ghost Mode */

/* Files in chat */
.agora .tmp_fileMsg {
  position: absolute;
  bottom: 0;
}

.agora .chat-file-upload label {
  cursor: pointer;
}

.agora .chat-file-upload input[type="file"] {
  display: none !important;
}

.agora .chat-file-progress-bar {
  background-color: #005aab;
  height: 24px;
  text-align: center;
}

/* End files in chat */

/****************video*mute*overlay*******************/
.agora .user .no-video-overlay,
.agora .screenshare-container .no-video-overlay
 {
  position: absolute;
  z-index: 2;
  width: calc(100%);
  top: 0;
  color: #cccccc;
  font-size: 2.5em;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #607d8b;
  height: 100%;
}
/*----------------need--to -add display-flex-in  inline-css-----------------*/

/****************mike*mute*overlay*end******************/
/*.user .mute-overlay {  position: absolute;  z-index: 3;    left: calc(50% - 14px);  font-size: 1.5em;  padding: 2px 0 0 2px;  display: none; }*/
.agora .user .mute-overlay {
  position: absolute;
  z-index: 3;
  left: 0;
  font-size: 1em;
  padding: 10px;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
}

/****************active*speaker*****************/
.agora .user-speraker,
.agora .user-speraker:before,
.agora .user-speraker:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.agora .user-speraker {
  color: #ffffff;
  font-size: 6px;
  position: absolute;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  z-index: 99;
  left: 50%;
  bottom: 7%;
}
.agora .user-speraker:before,
.agora .user-speraker:after {
  content: "";
  position: absolute;
  top: 0;
}
.agora .user-speraker:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.agora .user-speraker:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
/****************active*speaker*end****************/
/*-----------------------click-to-unmute----------------------------------*/
.agora .user .resume-userclick {
  position: absolute;
  z-index: 11;
  cursor: pointer;
  display: inline-block;
  background-color: #00000047;
  padding: 0.5rem 0.8rem;
  border-radius: 25px;
  left: 3%;
  color: #fff;
  top: 4%;
  font-size: 0.7rem;
  border: 0.4px solid #ffffff2e;
}
/*-----------------------click-to-unmute-ends---------------------------------*/
.agora .speaker-view {
  display: flex !important;
  justify-content: space-between;
  height: 50vh !important;
}
.agora .speaker-view .main-screen {
  width: 100%;
}
.agora .speaker-view .screen-users {
  width: 20%;
  display: block;
  overflow-y: auto;
  flex-direction: column;
  height: 100%;
  max-height: 100% !important;
  justify-content: flex-start;
}
.agora .speaker-view .screen-users .user {
  width: 100%;
  max-height: 200px !important;
}
.agora .speaker-view .main-screen .user {
  display: block !important;
  height: 100%;
  position: relative;
}
/*-----------------------chat----------------------------------*/
.agora .chat .fab_field.user {
  align-items: center;
}
.agora .chat .fab_field.user .chat_field {
  line-height: 9px !important;
}
.agora .chat .fab_field.user {
  padding: 0 0.5rem 0 0.5rem !important;
}
.agora .chat .tmp_fileMsg {
  position: relative;
  padding: 0.5rem;
  background-color: #f8f8f8;
  margin: 0.2rem;
  margin-left: 0.5rem !important;
  display: inline-block;
}
.agora .chat .tmp_fileMsg .action a {
  padding: 0.1rem 0.3rem;
  background-color: #ff0000;
  width: 21px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin-top: 0.2rem;
  color: #fff !important;
  border-radius: 2rem;
  font-size: 0.6rem;
}
.agora .chat-msg-line.local label {
  font-size: 1rem;
  margin-left: 0.5rem !important;
}
.agora .chat .tmp_fileMsg .action {
  position: absolute;
  right: -7px;
  top: -14px;
}
.agora .chat .chat-msg-line label {
  font-size: 1rem !important;
}
/*-----------------------chat-end---------------------------------*/

/* */
.agora #main-screen-stream-section {
  height: 100%;
}

.agora .remote-stream-main-container {
  width: 100%;
  height: 100%;
}

/* Test Device */
.agora #test-device-section {
  color: #ffffff;
  width: 50%;
  padding: 0 10px;
}

.agora .test-device-volume-indicator {
  display: none;
}

.agora #test-device-progressBar {
  width: 100%;
  height: 8px;
  background-color: #666666;
  display: inline-block;
}

.agora #test-device-myVolume {
  width: 0%;
  height: 100%;
  background-color: #b4bb6b;
  display: block;
}

.agora .test-device-volumeScaleHolder {
  padding: 0;
  margin: 3px 0;
}

.agora .remote-stream-controls {
  position: absolute;
  z-index: 10;
  width: calc(100%);
  /*top: 5%;*/
  color: #cccccc;
  font-size: 2.5em;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  /*new added*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.agora .remote-stream-controls .mute-remote-audio-div > i,
.agora .remote-stream-controls .mute-remote-video-div > i {
  font-size: 15px;
}

.agora .remote-stream-controls .mute-remote-audio-div,
.agora .remote-stream-controls .mute-remote-video-div {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.agora .remote-stream-pin-control-section,
.agora .remote-stream-unpin-control-section {
  position: absolute;
  z-index: 99999;
  /* width: calc(100%); */
  top: 0;
  color: #fff;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}
/*mutliple stream*/
.agora .speaker-view .screen-users .remote-stream-main-container {
  height: 25%;
}
.agora .speaker-view .screen-users .remote-stream-main-container .user {
  max-height: unset;
  height: 100%;
  width: 100% !important;
}

/*pin unpin css*/
.agora .remote-pin-div {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 30px;
  width: 30px;
  z-index: 9;
  cursor: pointer;
}
.agora .remote-pin-div > i {
  font-size: 15px;
}

/* allow/reject button */

.agora .permission-confirmation-section .actions > button {
  padding: 5px 15px;
  font-size: 15px;
  margin: 20px 5px;
}
.agora .permission-text {
  font-size: 18px;
}
.agora .modal-header button.close {
  background: transparent;
}

.agora .raise-hand-requests > button {
  padding: 2px 7px;
}

/* modal popup ui*/
/* allow/reject button */

.agora .accept-raise-hand,
.agora .reject-raise-hand {
  padding: 5px 15px;
  font-size: 15px;
  margin: 20px 5px 10px;
}
.agora .user-details {
  font-size: 17px;
}

/* left and right screen user */
.agora .screen.agora-screen-users-left.sharescreen,
.agora .screen.agora-screen-users-right.sharescreen {
  display: flex;
}
.agora .screen.agora-screen-users-left.sharescreen > .screen-users,
.agora .screen.agora-screen-users-right.sharescreen > .screen-users {
  flex: 0 0 15%;
  max-width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 338px;
  height: 100%;
}
.agora .screen.agora-screen-users-left.sharescreen > .screenshare-container,
.agora .screen.agora-screen-users-right.sharescreen > .screenshare-container {
  flex: 0 0 85%;
  max-width: 84%;
}

/* for right screen user */
.agora .screen.agora-screen-users-right.sharescreen {
  flex-direction: row-reverse;
}

/* for bottom screen user */
.agora .screen.agora-screen-users-bottom.sharescreen {
  display: flex;
  flex-direction: column-reverse;
}

.agora .button_accept_reject {
  display: flex;
  justify-content: flex-end;
}

.agora .request-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* chat position left */
.agora .fabs .chat.chat-bottom {
  right: -14px;
  bottom: -14px;
}

/* recording format */
.agora_io_video_container:nth-child(4n + 4) {
  padding-right: 0;
}

.agora_io_video_container {
  flex: 0 0 25%;
  max-width: 25%;
  padding-right: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.agora_io_video_recording_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px !important;
  margin: auto;
  width: 100%;
  /* background: green; */
}
.agora_io_video_container > video {
  width: 100%;
  height: 100%;
}

.agora .raise-hand-requests > button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.agora .raise-hand-requests > button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.agora .raise-hand-requests > button > i {
  padding-right: 5px;
}

.agora #raise-hand-requests-list{
  max-height: 60vh;
  overflow: auto;
}

.agora-active-view-selected{
  color: #4221ff;
}

.agora-broadcast.agora-default-template.agora-fullscreen .agora-content .screenshare-container{
  max-height: 100%;
}

.agora-broadcast.agora-default-template.agora-fullscreen .agora-content {
  grid-template-rows: 8vh 74vh;
}

.agora-broadcast.agora-default-template.agora-fullscreen #full-screen-video, .agora-broadcast.agora-default-template #full-screen-video_container, .agora-broadcast.agora-default-template #full-screen-video {
  max-height: 100%;
}

@media only screen and (max-width: 600px) {
  .agora .buttons-top {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .agora-content .buttons-top .left-button {
          margin: 10px 0;
  }
  .agora-content .buttons-top .right-buttons {
      margin-bottom: 5px;
  }
  .agora .buttons-bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
}  

.agora .user, .agora .screenshare-container{max-height: 100%;}

.agora-communication.agora-default-template.agora-default-template-screen-users-right.agora-fullscreen .agora-content, .agora-communication.agora-default-template.agora-default-template-screen-users-left.agora-fullscreen .agora-content {
  grid-template-rows: 8vh 74vh;
}

.agora .fade, .agora .fade:not(.show)
{
  opacity:initial;
}

.agora-broadcast.agora-default-template.agora-audience.agora-fullscreen .agora-content {
  grid-template-rows: 8vh 87vh;
}

.agora-broadcast.agora-default-template.agora-audience.agora-fullscreen .agora-content {
  grid-template-rows: 8vh 87vh;
}

.agora.agora-fullscreen .screen.agora-screen-users-left.sharescreen > .screen-users, .agora.agora-fullscreen .screen.agora-screen-users-right.sharescreen > .screen-users {
    flex: 0 0 12%;
    max-width: 12%;
}

.agora.agora-fullscreen .screen.agora-screen-users-left.sharescreen > .screenshare-container, .agora.agora-fullscreen .screen.agora-screen-users-right.sharescreen > .screenshare-container {
  flex: 0 0 88%;
  max-width: 88%;
}

.agora.agora-fullscreen .screen.agora-screen-users-left.sharescreen .screen-users .user, .agora.agora-fullscreen .screen.agora-screen-users-right.sharescreen .screen-users .user {
  width: 100% !important; 
}