/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.agora .dropdown-toggle-split::after {
  width: auto;
}
.agora .dropdown-toggle {
  height: auto;
  width: auto;
}
/* make suer video buttons are always on the top */ 
@media screen and (min-width: 960px) {
  .agora #main-container.controls-top {
    /* position: fixed;
    top: 32px;
    left: 0;*/
    width: 100%;
  }
}


body .btn:focus{ 
  outline: none !important;
  box-shadow:none !important;
}

body .agora {
  position: relative;
}
.agora.agora-broadcast {
  border: 1px solid #eee;
}
.agora.agora-broadcast.agora-audience .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.agora .controls-top #cloud-recording-container {
  position: absolute;
  left: 15px;
  z-index: 99;
}

#cloud-recording-container .btn {
  border-radius: 50%;
  background: white;
  width: 40px;
  height: 40px;
  /* border: 1px solid #efefef; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 0px #999 !important;
}
#cloud-recording-container .start-rec .inner-icon {
  background-color: red;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  min-width: 16px;
}

#cloud-recording-container .stop-rec .inner-icon {
  border-radius: 0;
  width: 12px;
  height: 12px;
  background-color: black;
}

#cloud-recording-container .load-rec .inner-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border: .2em solid red;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

.agora .controls-top #buttons-container,
.agora .controls-top #screen-share-btn-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
}
.agora .controls-top #screen-share-btn-container {
  right: 0;
  z-index: 9;
}

.agora-broadcast #lower-ui-bar {
  position: absolute;
  bottom: 0;
  /* left: 0; */
  right: 0;
}
.agora-communication #lower-video-bar {
  position: absolute;
  bottom: 0;
  left: 15px; /* 15px because of offset from bootstrap */
  width: 100%;
  height: 20vh;
}

#buttons-container div {
  max-width: 250px;
  min-width: 150px;
  margin-bottom: 10px;
}

.btn-group button i {
  padding-left: 25px;
}

#full-screen-video {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-size: cover;
  overflow: hidden;
}
#video-canvas {
  width: 100%;
  height: 100%;
}

#full-screen-video-iframe {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/AllThingsRTC_live-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* #lower-ui-bar {
  min-height: 50vh;
  max-width: 100vw;
} */

#rtmp-btn-container { 
  position: relative; 
  display: inline-block;
  margin-top: auto;
  z-index: 99;
}

.rtmp-btn {
  bottom: 5vh;
  right: 5vw;
  display: block;
  margin: 0 0 5px 0;
}

#remote-streams-container { 
  display: inline-block;
  height: 20vh;
  bottom: 1.5%;
}

.agora-broadcast #remote-streams-container { 
  position: absolute;
}

.remote-streams-container { 
  display: inline-block;
  height: 20vh;
  bottom: 1.5%;
}

#rtmp-controlers {
  height: 100%;
  margin: 0;
}

#local-video {
  position: absolute;
  z-index: 1;
  height: 20vh;
  max-width: 100%;
}

.remote-video {
  position: absolute;
  z-index: 1;
  height: 100% !important;
  width: 80%;
  max-width: 250px;
}

#mute-overlay {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  color: #d9d9d9;
  font-size: 1.5em;
  padding: 0 0 3px 3px;
  display: none;
} 

.mute-overlay {
  position: absolute;
  z-index: 2;
  top: 2px;
  color: #d9d9d9;
  font-size: 1.5em;
  padding: 2px 0 0 2px;
  display: none;
}

#no-local-video, .no-video-overlay {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 40%;
  color: #cccccc;
  font-size: 2.5em;
  margin: 0 auto;
  display: none;
  text-align: center;
}

.no-video-overlay {
  width: 80%;
}

#screen-share-btn-container {
  z-index: 99;
}

#watch-live-overlay {
  /* position: absolute; /* fixed */
  /* top: 0;
  left: 0; */
  width: 100%;
  /* height: 100%; */
  text-align: center;
  /* background-image: url('../images/AllThingsRTC_live-bg.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#external-broadcasts-container {
  max-width: 70%;
  margin: auto 0 5px;
}

#external-broadcasts-container input {
  width: 50%;
}

#external-broadcasts-container button {
  color: #fff;
}

/* #external-broadcasts-container .close-btn {
  padding-bottom: 1.2rem;
} */

#watch-live-overlay #overlay-container {
  border-radius: 5px;
  position:relative;
  margin: 0 auto;
  /* top: 65%; */
  width: 70%;
}

.agora.agora-audience .overlay {
  padding: 36px;
}
.agora.agora-audience .overlay button {
  display: block;
  /* margin: -50px auto; */
  color: #0096e6;
  background: #fff;
}

.agora.agora-audience .overlay img {
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.agora.agora-audience .overlay button i {
  padding: 0 10px;
}

.btn-xlg {
  padding: 20px 35px;
  font-size: 30px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.drop-mini {
  width: inherit;
  display: inline-block;
}

#external-injest-config label, #rtmp-config label {
  margin: 0 .5rem .5rem 0;
}

#external-injest-config .row,#rtmp-config .row {
  margin-left: inherit;
  margin-right: inherit;
}


#addRtmpConfigModal .modal-header, 
#external-injest-config .modal-header {
  padding: 0.5rem 1rem 0;
  border-bottom: none;
}

#addRtmpConfigModal .modal-header .close, 
#external-injest-config .modal-header .close {
  padding: 0.5rem;
  margin: -.025rem;
}

#addRtmpConfigModal .modal-body, 
#external-injest-config .modal-body {
  padding: 1rem 1rem 0.25rem;
}

#addRtmpConfigModal .modal-footer, 
#external-injest-config .modal-footer {
  padding: 0 1rem 0.5rem;
  border-top: none;
}

#pushToRtmpBtn {
  padding: 10px 15px;
}

.close .fa-xs {
  font-size: .65em;
}

/* pulsating broadcast button */
.pulse-container {
  height: 100%;
  margin: 5px 10px 0;
}

.pulse-button {
  position: relative;
  /* width: 32px; */
  /* height: 32px; */
  border: none;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  /* border-radius: 50%; */
  background-color: #e84c3d;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.pulse-anim {
  -webkit-animation: pulse 2.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2.25s infinite cubic-bezier(0.66, 0, 0, 1); 
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}

/* Respomnsive design */

@media only screen and (max-width: 795px) {
  #watch-live-overlay #overlay-container {
    width: 100%;
  }
}

@media only screen and (max-height: 350px) {
  #watch-live-overlay img {
    height: auto;
    width: 80%;
  }
  #watch-live-overlay #overlay-container {
    top: 60%;
  }
  .btn-xlg {
    font-size: 1rem;
  }
}

@media only screen and (max-height: 400px){
  .btn-xlg {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 400px) {
  .btn-xlg {
    padding: 10px 17px;
  }
}



/** ====================================
 *        Communication Styles
 ** ==================================*/
.agora.agora-communication {
  position: relative;
  background-color: #dedede;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 9999;
  max-width: 100% !important; /* important, because wordpress defaults :( */
  margin: 0 !important;
}
.admin-bar .agora.agora-communication {
  margin-top: 32px !important;
  margin-bottom: 0 !important;
}

.agora .rejoin-container {
  position: absolute;
  top: 46%;
  width: 100%;
  text-align: center;
}
.agora .rejoin-container button,
.agora .rejoin-container button[disabled] {
  background: #007bff;
  text-transform: none;
  font-weight: 400;
  font-family: inherit;
  border-radius: .3rem;
  padding: .5rem 1rem;
  line-height: 1.5;
}
.agora .rejoin-container button:hover {
  background: #2f5e90;
}

#local-stream-container {
  position: relative; 
  display: inline-block;
}

.user_gravatar_circle {
  border: 1px solid #dedede;
  border-radius: 50%;
  overflow: hidden;
  max-width: 168px;
}

.user_gravatar_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
}

.hidden {
  display: none !important;
}