.agora-fullscreen-container {
  background-color: #222;
  /* position: absolute; */
  display: flex;
  width: 100vw;
  min-height: 100vh;
  left: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding: 15px;
}

.gradient-1 {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
.gradient-2 {
  background-color: #2b5876;
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%)
}
.gradient-3 {
  background-color: #314755;
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}
.gradient-4 {
  background-color: rgba(41,125,182,1);
  background-image: linear-gradient( 109.6deg,  rgba(41,125,182,1) 3.6%, rgba(77,58,151,1) 51%, rgba(103,55,115,1) 92.9% );
}

.window-mode .main-video-screen#full-screen-video {
  width: 90%;
  height: 60%;
  background-color: #16233e;
  border-radius: 20px;
  overflow: hidden;
  display: block;
}
.window-mode .audience-container {
  margin-top: 24px;
  display: flex;
  width: 90%;
  height: 16%;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.agora-fullscreen-container #no-local-video { top: 20%; }
.agora-fullscreen-container #mute-overlay { left: 33%; bottom: -3px; }

@media screen and (min-width: 1024px) {
  .window-mode .main-video-screen#full-screen-video { width: 60%; }
  .window-mode .audience-container { width: 60%; }
}

.remote-users { margin-top: 10px; margin-right: 30px; max-height: 100px; }

.avatar-circle {
  border-radius: 50%;
  display: block;
  width: 90px;
  height: 90px;
  overflow: hidden;
  margin-left: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}
.avatar-circle.local {
  width: 110px;
  height: 110px;
}
.avatar.circle .remote-streams-container {
  display: block;
}
.avatar-circle .remote-streams-container .remote-video { width: 100%; top: 0; }
.avatar-circle .remote-streams-container .mute-overlay { 
  bottom: -5px;
  left: 34%;
  top: auto;
}
.avatar-circle .remote-streams-container .no-video-overlay {
  top: 7%;
  width: 100%;
}
.avatar-circle .remote-streams-container .mute-overlay .fas { font-size: 1.2rem; }
.avatar-circle .remote-streams-container .no-video-overlay .fas { font-size: 1.6rem; }


.agora .controls-bottom #buttons-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  bottom: 0;
  width: 100%;
  position: absolute;
  z-index: 10;
  align-items: center;
  justify-content: center;
}
.agora .fas {
  color: #008ff7;
}
.agora .main-btn .fas {
  color: white;
}

@media screen and (min-width: 1024px) {
  /*.agora .controls-bottom #buttons-container {display: none}
  .agora .main-video-screen:hover #buttons-container { display: flex; }*/
}

.agora .control-btn,
.agora .controls-bottom #buttons-container .control-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  min-width: 0;
  margin: 15px;
  overflow: hidden;
  background-color: white;
}
.agora .controls-bottom .control-btn:hover {
  background-color: #d7dbe4;
}
.agora .controls-bottom #buttons-container .control-btn.main-btn {
  width: 65px;
  height: 65px;
  background-color: #ce1414;
}

.agora .control-btn button,
.agora .controls-bottom #buttons-container .control-btn button {
  border: none;
  width: 100%;
  height: 100%;
  background: transparent;
}

.agora .controls-bottom #cloud-recording-container {
  min-width: auto;
  margin: 15px;
}
.agora .controls-bottom #cloud-recording-container .btn {
  box-shadow: none !important;
  width: 45px;
  height: 45px;
}

.agora .controls-bottom #lower-ui-bar {
  display: flex;
}

.agora .controls-bottom .fas.fa-share-square {
  margin-left: 3px;
  padding: 0!important;
}

.avatar-circle #local-video {
  width: 100%;
  height: 100%;
}
