/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/**
 * ============================================
 *         Cards into Settings Page
 * ============================================
 **/
.agoraio .card {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #3ab7f8;
  border-left: 4px solid #3ab7f8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin-top: 20px;
  max-width: 520px;
  min-width: 255px;
  padding: 0.7em 2em 1em;
  position: relative;
  transition: 0.35s ease all;
}

.agoraio .card:hover {
  box-shadow: 3px 3px 4px 0px #cdcdcd;
}

.agoraio .card img.icon {
  float: left;
  margin: 8px 8px 8px -8px;
}

.agoraio .card h2.title {
  float: left;
  max-width: 240px;
  font-size: 1.3em;
  font-weight: 600;
}

.agoraio .card .infobox {
  float: right;
  font-size: 13px;
  color: #666;
  margin: 2px 0 5px;
  line-height: 1.5;
  max-width: 240px;
}

.agoraio .card .inside .form-table th {
  padding: 15px 10px 15px 0;
  width: 160px;
}

.agoraio .card .inside .form-table td {
  padding: 10px 10px;
}

.agoraio .card .checkboxes li {
  margin: 0;
}

.agoraio .card .flex {
  display: flex;
  flex-direction: row;
}

.agoraio .card .flex .col {
  flex-grow: 1;
  padding: 10px 0;
  min-width: 40%;
}

.agoraio .card .label {
  font-weight: bold;
}

.agoraio .card .align-right {
  text-align: right;
}


/**
 * ============================================
 *   Internal tabs into Channel settings page
 * ============================================
 **/
#agora-form-settings .inside {
  margin: 0;
  padding: 0;
  display: flex;
}
.agoraio .nav-tabs {
  min-width: 25%;
  margin: 0;
  list-style-type: none;
  background-color: #efefef;
}
.agoraio .nav-tabs .dashicons-before {
  padding-right: 5px;
}

.agoraio .nav-tabs > li {
  width: 100%;
  margin-bottom: -1px;
}

.agoraio .nav-tabs > li > a {
  line-height: 1.5;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #dedede;
}

.agoraio .nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}

.agoraio .nav-tabs > li.active > a,
.agoraio .nav-tabs > li.active > a:hover,
.agoraio .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
}

.agoraio .tab-content {
  width: 100%;
  overflow: hidden;
}
.agoraio .tab-content > .tab-pane {
  width: 94%;
  display: none;
}

.agoraio .tab-content > .tab-pane.active {
  display: block;
  padding: 20px;
  background-color: #fff;
  /* box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.15); */
}

.agoraio .agora-settings-actions {
  margin-top: 0;
}
.agoraio .agora-loader { position: relative; }
.agoraio .agora-settings-actions span.agora-loader img {
    position: relative;
    top: 10px;
    display: inline;
}

.agoraio .add-more-users-controls .agora-loader img {
  position: absolute;
  top: -10px;
}

.agoraio #broadcast-users-list {
  width: 100%; min-height: 20px;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 7px 12px;
  margin-bottom: 15px;
}
.agoraio .helper-text {
  color: #999;
}
.agoraio .add-more-users-controls {
  display: none;
}
.agoraio .chip {
  display: inline-block;
  padding: 0 25px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  border-radius: 25px;
  background-color: #ececec;
  margin-bottom: 8px;
}

.agoraio .chip img {
  float: left;
  margin: -2px 10px 0 -25px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
}

.agoraio .closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.agoraio .closebtn:hover {
  color: #000;
}

/** =========  FORMS  ========= ***/
.agoraio .large-dropdown {
  min-width: 180px;
}

.agoraio .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

.agoraio .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.agoraio .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.agoraio .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.agoraio .switch input:checked + .slider {
  background-color: #2196F3;
}

.agoraio .switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.agoraio .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.agoraio #chat-status-text {
  text-transform: capitalize;
  margin-left: 5px;
}

/* Rounded sliders */
.agoraio .slider.round {
  border-radius: 34px;
}

.agoraio .slider.round:before {
  border-radius: 50%;
}
                                 

/** ========= Admin Table ========== **/
#agoraio-list-table .column-shortcode {
  width: 400px;
}

/*-----------------draggable settings----------------------------------*/
.dragable-chat-main,.dragable-speaker-main {  display: flex;  height: auto;  min-height: 321px;background-color: #f6f6f6;}
.left-side-main,.right-side-main,.center-main,.overlay-main{border: 1px solid #c8c8c8;padding: 2%;}
.left-side-main {  width: 20%;    display: block;  height: auto;}
.right-side-main { width: 20%;   display: block;  height: auto;}
.center-main{width: 60%;position: relative;border-left: 0;  border-right: 0;}
.overlay-main { position: absolute; display: block; width: 44%;    height: 69%;  right: 7%;  bottom: 6%;box-shadow: 3px 2px 2px #00000030;}
.draggabble-box {  height: auto;  background: rgb(197, 230, 252);   height: 100%;}
.dragable-speaker-main {background-color: #f6f6f6;}
.main-view {  width: 80%; }
.multiple-speaker-views {  width: 20%;  }
.dragable-speaker-main .current{border: 1px dashed #000!important;background: #c5e6fc;}
.main-view,.multiple-speaker-views{border: 1px solid #c8c8c8;}
/*-----------------draggable settings end----------------------------------*/

.recording_layout_image_section{
  float: left;
  margin-left: 10px;
}


td.recordings.column-recordings > select, td.recordings.column-recordings > span {
    flex: 0 0 50%;
    max-width: 50%;
}

td.recordings.column-recordings {
    display: flex;
}

.agora_recordings_filter_inner_section {
  float: left;
  margin-right: 15px;
}

.agora_recording_shortcode_section{
  clear: both;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /* padding: 5px 0; */

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.recording_layout_image_section img:hover{
  cursor: pointer;
}


.modal, .hidden {
  display: none;
}

/*
 * Boostrap Modal Styles
 */
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  overflow: hidden;
  outline: 0;
  height: 100%;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* padding-top: 68px;*/
}
.fade:not(.show) {
  opacity: 0;
}
.fade {
  transition: opacity 0.15s linear;
}
.modal-dialog {
  position: absolute;
  width: 100%;
  /* width: auto; */
  margin: 0 auto;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 2.5rem auto 0;
  }
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* padding: 0 1rem 0; */
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  /* padding: 1rem 1rem 0.25rem; */
  padding: 1rem;
}
.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.modal-footer > :not(:last-child) {
  margin-right: 0.25rem;
}
.modal .btn {
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}
.modal .btn.btn-primary {
  background-color: #6c757e;
  border: 1px solid #565b5f;
  border-radius: 3px;
}
.modal .btn.btn-primary:hover {
  background-color: #878e96;
  border-color: #868c90;
}
.close {
  float: right;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.close:hover {
  color: #000;
  text-decoration: none;
  background: transparent;
}
.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 0.75;
}
.agora button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal-header .close {
  padding: 0.5rem;
  margin: 0.05rem 0 0;
}
.modal-title .fas {
  color: #8b8b8b;
}
.modal-backdrop.show {
  opacity: 0.5;
}
.modal-backdrop {
  display: none;
}
.modal .img-permissions {
  margin: auto;
  display: block;
  min-height: 100px;
  max-height: 280px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 8px 0px #6c6c6c;
}

.modal-body #layout-image-content{
  text-align: center;
}

.agora_recording_shortcode_section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.agora_recording_shortcode_section div#agora_recording_shortcode {
    background: rgba(0,0,0,0.7);
    margin: 0 10px 0 0;
    padding: 9px 10px;
    color: #fff;
    border-radius: 5px;
    line-height: 0.8;
}

.agora_recording_shortcode_section .agora-copy-recording-shortcode-btn{line-height: 0.8;
    padding: 6px 10px;}

    .agora_io_video_recording_container .agora_io_video_container>video {
    height: 100%;
    width: 100%;
}

.agora_io_video_recording_container .agora_io_video_container {
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 25px;
    box-sizing: border-box;
    margin-top: 25px;
}

.agora_io_video_recording_container {
    display: flex;
    flex-wrap: wrap;
}
.agora_recording_videos_section {
    clear: both;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  margin-top: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}